<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="styles.css">
	<title>Class Data</title>
</head>

<body class="border">
	<h1><img src="dice.png" width="50"> Class Data</h1>
	<div>
		<strong>Name: </strong><%- name %><br>
        <p><strong>Hit Dice:</strong> <%- hit_dice %></p>
        <p><strong>HP at 1st Level:</strong> <%- hp_at_1st_level %></p>
        <p><strong>HP at Higher Levels:</strong> <%- hp_at_higher_levels %></p>
        <p><strong>Armor Proficiencies:</strong> <%- prof_armor %></p>
        <p><strong>Weapon Proficiencies:</strong> <%- prof_weapons %></p>
        <p><strong>Tool Proficiencies:</strong> <%- prof_tools %></p>
        <p><strong>Skill Proficiencies:</strong> <%- prof_skills %></p>
        <p><strong>Equipment:</strong> <%- equipment %></p>
        <p><strong>Spellcasting Ability:</strong> <%- spellcasting_ability %></p>
        <p><strong>Description:</strong> <%- description %></p>
		<br>
		
	</div>
	

    <hr>

    <a href="/">HOME</a>
</body>

</html>
